<template>
  <div>
    <!--
      <InputText v-model="text1"/><br>
     <InputText v-model="text2"/><br>
     <InputText v-model="text3"/><br>
     -->
  <span class="p-float-label">
	<InputText id="username" type="text" v-model="value" />
	<label for="username">Username</label>
</span>
<span class="p-input-icon-left">
    <i class="pi pi-search" />
    <InputText type="text" v-model="value1" placeholder="Search" />
</span>

<span class="p-input-icon-right">
    <InputText type="text" v-model="value2" />
    <i class="pi pi-spin pi-spinner" />
</span>

<span class="p-input-icon-left p-input-icon-right">
    <i class="pi pi-search" />
    <InputText type="text" v-model="value3" />
    <i class="pi pi-spin pi-spinner" />
</span>
     <Button label="Сохранить студента" icon="pi pi-user" @click="pull"></Button>
     <Toast />
  </div>
</template>

<script>
import { defineComponent, ref } from "vue";


export default defineComponent ({
  setup(){
    
    const text = ref('');
    const greet = ()=>{
          this.$toast.add({severity: 'info', summary: 'Hello', detail:text});
    }

    return {
      text,
      greet
    }
  }
})

/*
export default defineComponent ({
data() {
  return{
    text: null
  }
},
methods:{
  greet(){
    this.$toast.add({severity: 'info', summary: 'Hello', detail: this.text});
  }
 }
}*/
</script>

<style>
#app {   
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  color: #2c3e50;
  margin-top: 60px;
}
</style>
